.chat-screen .status-bar, .chat-screen .alt-header {
    background-color:#abc1d1;
}
.chat-screen .status-bar{
    z-index:1;
}
.chat-screen {
    background-color:#abc1d1;
    height:500vh;
}
.chat-screen .alt-header {
    position:fixed;
    width:100%;
    box-sizing: border-box;
    top:30px;
    background-color:#abc1d1;
    z-index:20;
}

@keyframes fadeIn {
    from{
        transform:translateY(10px);
        opacity:0;
    }
    to{
        transform:none;
        opacity:1;
    }
}

.main-chat {
    margin-top:80px;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size:14px;
    margin-bottom:30px;
    animation: fadeIn 0.5s linear;
}
.chat__timestamp {
    color:white;
    background-color:#92a4b2;
    padding:15px;
    border-radius:25px;
    margin-bottom:25px;
}

.message-row {
    width:100%;
    display:flex;
    margin-bottom:25px;
}
.message-row img {
    width:50px;
    height:50px;
    border-radius:40%;
    margin-right:15px;
}
.message__author {
    display:block;
    margin-bottom:15px;
}
@keyframes messageInfoAppear {
    from{
        
        transform:translateX(-20px);
    }
    to{
        opacity:1;
        transform:none;
    }
}
.message-row .message__info  {
    opacity: 0;
    animation: messageInfoAppear 0.5s linear forwards;
    animation-delay:0.3s;
}
@keyframes messageOwnInfoAppear {
    from{
        
        transform:translateX(20px);
    }
    to{
        opacity:1;
        transform:none;
    }
}

.message-row--own .message__info {
    opacity: 0;
    animation: messageOwnInfoAppear 0.5s linear forwards;
    animation-delay:0.6s;
}
.message__info {
    display:flex;
    align-items: flex-end;
}
.message__bubble {
    background-color:white;
    padding:13px;
    border-radius: 15px;
    margin-right:8px;
    border-top-left-radius: 0px;
    font-size:17px;
}
.message__time,.message__author {
    opacity:0.9;
    font-size:14px;
}

.message-row--own {
    justify-content: flex-end;
}
.message-row--own .message__bubble {
    background-color:var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius:15px;
    margin-right:0px;
    margin-left:5px;
    /* order:1; */
} /*이렇게 할 수도 있다.*/
/* .message-row--own .message__time {
    order:0;
} */
.message-row--own .message__info {
    flex-direction:row-reverse;
}
.message__no-read {
    color:var(--yellow);
    font-size:14px;
    margin:0 10px;
}

.reply {
    position:fixed;
    bottom:0;
    width:100%;
    background-color:white;
    display:flex;
    justify-content: space-between;
    padding:5px 25px;
    box-sizing: border-box;
    align-items:center;
    transition: transform 0.3s ease-in-out;
}
.reply i {
    opacity:0.6;
}
.reply .reply__column:first-child {
    width:10%;
}
.reply .reply__column:last-child {
    width:90%;
    position:relative;
}
.reply__column:last-child  > i, .reply__column:last-child button {
    position:absolute;
    right:0;
    top:10px;
}
.reply__column:last-child > i {
    right:40px;
}
.reply__column:last-child button  {
    top:3px;
    background-color:var(--yellow);
    border:none;
    width:28px;
    height:28px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.reply__column:last-child button i {
    opacity:1;
}
.reply  input {
    height:30px;
    width:100%;
    border: 1px solid var(--border-color);
    border-radius:20px;
    padding-left:20px;
    transition:all 0.3s ease-in-out;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink, 
.reply button {
    transition:opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink, 
.reply:focus-within button {
    opacity:0;
}
.reply input:focus {
    width:90vw;
    transform:translateX(-13%) translateY(-80px);
}

.reply:focus-within {
    transform:translateY(80px);
}