
.recommended-friends {
    border:2px solid var(--border-color);
    border-right:none;
    border-left:none;
    padding:25px 0px;
    color:var(--text-color-alpha);
    font-weight:600;
}
.recommended-friends__title {
    font-size:16px;
}
.recommended-friends span {
    text-align: center;
    display:block;
    margin:100px 0px;
    font-size:18px;
}
.open-chat__header {
    display:flex;
    justify-content:space-between;
    color:var(--text-color-alpha);
    font-weight:600;
    margin:25px 0px;
}
.open-chat__header span {
    opacity:0.5;
}

.open-post {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
}
.open-post-line {
    width:100%;
    height:2px;
    background-color:var(--border-color);
    margin-top:20px;
}
.open-post__title {
    font-weight:600;
    margin-bottom:10px;
}
.open-post__hashtags {
    text-transform:uppercase;
    opacity:0.6;
}
.open-post__memebers {
    display:flex;
    align-items:center;
    margin-top:7px;
}
.open-post__memebers img {
    width:20px;
    height:20px;
    border-radius:50%;
    margin-right:5px;
}
.open-post__member-count {
    opacity:0.5;
    font-size:14px;
}
.open-post__memebers .divider {
    width:1px;
    height:15px;
    background-color:rgba(0,0,0,0.2);
    margin:0px 10px;
}
.open-post__member-status {
    font-size:16px;
    color:magenta;
}
.open-post__photo {
    position:relative;
}
.open-post__photo img {
    width:120px;
    height:120px;
    border-radius:10%;
    
}
.open-post__heart-count {
    background-color:rgba(0,0,0,0.4);
    color:white;
    padding:5px 5px;
    border-radius:25px;
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    bottom:10px;
    right:10px;
    font-size:14px;
    width:50px;
}
.open-post__heart-count i {
    margin-right:3px;
}
.open-post__heart-count span {
    margin-left:3px;
}