.more-screen .icon-row {
    margin-top:30px;
}
.more-suggestions {
    margin-top:30px;
    border-top:1px solid var(--border-color);
    padding-top:40px;
}
.more-suggestions_title {
    margin-bottom:40px;
}
.more-suggestions__icons {
    display:flex;
    justify-content: space-between;
}
.more-suggestions__icon {
    margin-right:30px;
    display:flex;
    flex-flow:column;
    align-items: center;
}
.more-suggestions__icon-image img {
    width:60px;
    height:60px;
    border-radius:10px;
}
.more-suggestions__icon-text {
    color:var(--text-color-alpha);
    margin-top:10px;
    font-weight:bold;
}