.badge,.badge--sm {
background-color:tomato;
  color:white;
  display:flex;/*flex-container를 block요소로 본다. display:flex-inline이라고 설정하면 flex-container를 inline요소로 인식한다.자식이 아닌 부모를!*/
  justify-content: center;
  align-items: center;
  width:23px;
  height:23px;
  border-radius: 50%;
  font-size:14px;
  font-weight:bold;
}
.badge--sm {
  width:5px;
  height:5px;
  position:absolute;
}
.badge--sm--nav {
  right:-5px;
  top:-12px;
}
.badge-mother {
  position:relative;
}
.badge--sm--screen-header {
  right:-7px;
  top:-8px;
}